@charset "utf-8";

@import url("http://db.onlinewebfonts.com/c/d6f7b417e8c5a8b724893d00232cf6bf?family=Haarlemmer");

@font-face {font-family: "Haarlemmer"; 
src: url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.eot"); 
src: url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.eot?#iefix") format("embedded-opentype"), 
			url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.woff2") format("woff2"), 
			url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.woff") format("woff"), 
			url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.ttf") format("truetype"), 
			url("http://db.onlinewebfonts.com/t/d6f7b417e8c5a8b724893d00232cf6bf.svg#Haarlemmer") format("svg"); }
			

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html, body{
	scroll-behavior:smooth;	
	font:10pt/180%;
	font-family:"Haarlemmer";
	overflow-x:hidden;
}
img{
	display:block;
}
a{
	display:block;
	text-decoration:none;
	color:black;
}

#layout{
	margin:auto;
	max-width:100vw;
	position:relative;
	width:100vw;
}

/*mobile first*/
/*상단*/
header{	
	position:relative;
	margin-bottom:50px;
}
header #mobile_menu{	
	display:flex;
	align-items:center;
	padding:20px 3%;
}
header #mobile_menu a span{
	font-size:8vw;		
}
header #mobile_menu a:hover{
	color:black;
}
header #mobile_menu>img{
	width:10vw;
	margin:auto;
}

header #mobile_menu ul{
	display:none;
}

#menu{
	background:black;	
	width:60vw;
	height:100vh;
	position:fixed;
	z-index:50;
	top:0;
	padding-top:25vw;
	left:-60vw;
	/*display: none;*/
	overflow:auto;
	/*transition: all ease 2s 0s; */
}

#menu.on{
	left:0;
}

#menu>a span{
	position:absolute;
	top:0;
	left:0;
	padding: 2.5vh 3vw;
	font-size:8vw;		
	z-index:2;
	color:white;
}

#menu>div>a{
	color:white;
	font-size:1.1rem;
	padding:15px 5%;
	text-transform:uppercase;
}
#mobile_3icons ul{
	display:flex;
	z-index:1;
	position:absolute;
	list-style:none;
	bottom:10vh;	
}
#mobile_3icons ul li{
	color:white;
	margin:0 3.5vw;
}

/***서브메뉴 나중에...***/
#menu>div>nav{
	display:none;
}

/***서브페이지메인***/
#subpagemain{
    padding: 0 0 50px 0;
}
#subpagemain img{
    margin: auto;
    width:80vw;
}

#collectionContent{
    background: black;
    padding-bottom: 100px;
}
.collection{
    color:white;	
    padding:50px 0;	
	display:flex;		
	align-items:center;
	width:68%;
	margin:auto;	
}
.collection hr{
	flex:1;
	max-width:15vw;
	height:1.3px;
	background:white;
	border:none;
	margin:auto;
}
.collection h2{
	padding:1% 2%;	
	margin:auto;
}

/*콜렉션 사진*/
#collectionImages li{
    width:70vw;
    margin: auto;
    position:relative;overflow: hidden;
}
#collectionImages li img{
    width:70vw;
    margin:auto;
}
#collectionImages li div{
    background: white;
    position:absolute;
    /*z-index: 1;*/
    width:100%;
    height:11vh;
    opacity: 0;
    
}
#collectionImages li:hover div{
    animation:slideup 1s both;
    
}
@keyframes slideup {
    from{
        opacity:0;
        bottom:-6vh;
        }to{
        opacity:0.7;
        bottom:0;
        }
    
}

#collectionImages li a{
    text-align: center;
    width:100%;
    opacity: 1;
    position:absolute;
    top:27%;
    font-size: 1rem;
}




/*어사이드 무료배송띠*/
.textLine{
	width:100%;
	background: black;
    padding:3px 0;
	transition: 0.3s;
}
.flow_line{
	animation:blackLoop 30s linear infinite;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
@keyframes blackLoop{
	0%{
		-webkit-transform: translate3d(0,0,0);
		transform:translate3d(0,0,0);
	}
	100%{
		-webkit-transform:translate3d(-100%,0,0);
		transform:translate3d(-100%,0,0);
	}
}
.textLine p{
	margin-left:10px;
	margin-right:20px;
	color:white;
}
.textLine img{
	height:20px;
}

/***addcontent***/
.add{
	display: flex;
	justify-content: space-around;
	width:90vw;
	margin:auto;
	margin-top: 100px;
	flex-wrap:wrap;
	margin-bottom:100px;
}
.add div{
	padding-left:10vw;
	flex-basis: 50%;  
  flex-direction: column;
}
.add div h4{
	margin-top:30px;
}
.add h4{
	margin-bottom: 20px;
}
.add a{
	color:black;	
}
.add a:hover{
	text-decoration: underline;
}

/****하단(footer)****/
footer{
	display:none;
}

/***위로가는 버튼****/
#topIcon{
	right:4vw;
	bottom:10vh;
	position:fixed;
    z-index: 5;
}
#topIcon a{
	display:flex;
	align-items:center;
	justify-content:center;
}
#topIcon a:hover{
	color:black;
}

#topIcon span{ 
	font-size:2rem;
	position:fixed;
    color:white;
/*	right:11vw;
	bottom:13vh;*/
}
#topIcon img{animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.Btn{
	display:none;
}

/*desk top*/
@media all and (min-width:1023px){
	/*상단*/
	header #mobile_menu>img{
		width:5vw;
		transform:translateX(100px);
	}
	header #mobile_menu ul{
		display:block;
		display:flex;	
		list-style:none;
	}
	
	header #mobile_menu ul li{
		width:40px;
		margin-right:10px;
	}
	#mobile_3icons{
		display:none;
	}
	
	
	/*메뉴*/
	#menu>a {
		display: none;
	}
	#menu{
		display:block;
		background:none;
		display:flex;
		position:static;		
		width:80vw;
		height:7vh;
		margin:auto;
		padding:0px;
		justify-content:space-between;
	}
	#menu>div>a{
		padding-left:0;
		color:black;
		white-space: nowrap;	
		font-size:1.2rem;
		text-transform:none;
		display:block;
	}
	
	.menuNav{
	position:absolute;
	z-index:2;
	line-height:30px;
	width:10vw;
	height:300px;
	background:white;
	padding-left:10px;
	/*display:none;*/
	/*transition:0.5s;*/
	}
	
	.menuNav a:hover{
	color:black;
	text-decoration:underline;
	}
	
	#mobile_menu>a{
		display:none;
	}

    /***서브페이지메인***/
#subpagemain{
    padding: 0 0 100px 0;
}
#subpagemain img{
    margin: auto;
    width:80vw;
}

#collectionContent{
    background: black;
    padding-bottom: 100px;
}
.collection{
    color:white;	
    padding:100px 0 180px 0;	
	display:flex;		
	align-items:center;
	width:68%;
	margin:auto;	
}
.collection hr{
	flex:1;
	max-width:15vw;
	height:1.3px;
	background:white;
	border:none;
	margin:auto;
}
.collection h2{
	padding:1% 2%;	
	margin:auto;
}

/*콜렉션 사진*/
#collectionImages{
    display: flex;
    list-style: none;
    width:80vw;
    flex-direction: row;
    flex-wrap:wrap;
    margin: auto;
    justify-content: center;
}
#collectionImages li{
    margin: 0;
    width:20vw;
    position:relative;
}
#collectionImages li img{
    width:20vw;
}
#collectionImages li div{
    background: white;
    position:absolute;
    /*z-index: 1;*/
    width:20vw;
    height:11vh;
    bottom:0;
    opacity: 0;
}

#collectionImages li a{
    text-align: center;
    width:100%;
    opacity: 1;
    position:absolute;
    top:27%;
    font-size: 1rem;
}




    /***addcontent***/
	.add div{
		padding-left:5vw;
		flex-basis:25%;
		flex-direction: row;
	}

    /****하단****/
	footer{
		display:block;
		background:black;
		padding-top:30px;
		padding-bottom:30px;
		color:white;
		font-size:0.9rem;
	}
	#footerlayout{
		display:flex;
		height:40vh;
		align-items:center;
	}
	#footerlayout>img{
		width:15vw;
		margin-left:5vw;
	}
	.information1{
		padding-left:150px;
		padding-right:100px;
	}
	.information1 ul{
		list-style:none;
		display:flex;
		padding:0;
	}
	.information1 ul li {
		margin-right:20px;
	}
	.information1 p{
		font-size:2rem;
	}
	#newsletter>div{
		align-items:center;
	}
	#newsletter button{
		background:transparent;
		color:white;
		border:1px solid white;
		border-radius:5px;
		padding:2px;
		margin-left:5px;
	}
	footer ol{
		display:flex;
		list-style:none;
		padding:0;
		align-items:center;
	}
	footer ol li img{
		width:30px;
		margin-right:5px;
	}
		footer ol li:nth-child(1) img{
			width:35px;
			margin-right:2px;
		}
		/*위로가는 아이콘
		#topIcon span{ 
		position: fixed; 
		margin: 0 auto;
		right:5.8vw;
		bottom:13vh;*/


        
	}





